{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    .bkg{
        background-color: white;
        border-radius: 22px;
        padding: 12px;
        opacity: 0.9;
        
        
    }
    .green{
      background-color: green;
      color: rgb(108, 214, 108);
    }
</style>





    
    <div class="container">
        <div class="row">
            <div class="col-md-12 bkg bg-dark">
                <button class="btn btn-warning">Welcome {{user.first_name}}</button>
        
        
                <a href="{% url 'index' %}" class="btn btn-warning">Home</a>
            
            
                <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>

            </div>
            
        </div>
        <div class="row">
            
            <div class="col-md-12  bkg"style="overflow:scroll">
                <div class="row">
                    <div class="col-md-4 offset-md-4"><h3 class="text-center">TRIP DETAILS</h3></div>
                    <div class="col-md-4"><div><a href="{% url 'index' %}" class="btn btn-primary">Back</a></div></div>
                    
                    

                </div>
                
                {% for dets in details %}

                
                <div class="row">
                    <div class="col-md-12 text-center bg-dark text-white"><h3>{{dets.vehicle_name}}</h3></div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center bg-dark text-white"><h3>{{dets.vehicle_type}}</h3></div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center bg-dark text-white"><h3>{{dets.driver_details}}</h3></div>
                </div>

                {% endfor %}
              
                
            </div>
        </div>
    </div>









{% endblock %}